.app_shell {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.notifications_overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20vw;

  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
