.groups_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--mantine-spacing-xs);

  // this checks the loader
  &:has(span) {
    overflow: hidden;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: inherit;
    height: 2rem;
    flex-shrink: 0;

    padding: 0 var(--mantine-spacing-xs);
    overflow: hidden;

    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-sm);

    &:hover {
      background-color: light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-5)
      );
      cursor: pointer;
    }
  }
}

.items_list {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  & > .tree {
    $line-height: 26px;
    $horizontal-margin: 15px;

    @mixin entry {
      position: absolute;
      content: '';
      background-color: light-dark(
        var(--mantine-color-gray-2),
        var(--mantine-color-dark-5)
      );
    }

    div {
      position: relative;
      margin-left: $horizontal-margin;
      line-height: $line-height;
    }

    p::before {
      @include entry;
      width: 10px;
      height: 2px;
      top: calc($line-height / 2);
      left: calc($horizontal-margin * -1);
    }

    div:before {
      @include entry;
      height: 100%;
      width: 2px;
      top: 0;
      left: calc($horizontal-margin * -1);
    }

    div:last-child::before {
      height: calc($line-height / 2);
    }
  }
}
