.groups_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-sm);

  & > .grid_item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 6rem;

    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-md);

    font-size: 1.3rem;
    padding: var(--mantine-spacing-sm);
    overflow: hidden;

    // &:hover {
    //   background-color: light-dark(
    //     var(--mantine-color-gray-3),
    //     var(--mantine-color-dark-5)
    //   );
    // }
  }
}

.create_button {
  position: absolute;
  right: var(--mantine-spacing-md);
  bottom: var(--mantine-spacing-md);

  width: 3.5rem;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mantine-color-primary-6) !important;
  border-radius: 100%;

  &:hover {
    background-color: var(--mantine-color-primary-7) !important;
  }
}
