.groups_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--mantine-spacing-xs);

  // this checks the loader
  &:has(span) {
    overflow: hidden;
  }

  & .button_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mantine-spacing-xs);
  }
}
