.item {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--mantine-spacing-xs);
  gap: var(--mantine-spacing-xs);

  & .tab_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--mantine-spacing-xs);
    padding: 0 var(--mantine-spacing-xs);
  }
}
