.items_list {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  // ALERT
  // This whole class is a mess of calculations to perfectly align the treelines
  // I'm not proud of it, but it works
  & > .tree {
    width: 100%;

    & > .children {
      position: relative;

      $box-height: 30px;
      $margin-left: 20px;
      $margin-bottom: 5px;
      $line-width: 2px;

      // dividers
      &:not(:last-child) {
        padding-bottom: $margin-bottom;
        margin-bottom: calc($margin-bottom * 2);
        border-bottom: 1px solid var(--mantine-color-default-border);
      }

      @mixin tree_generic {
        position: absolute;
        content: '';
        background-color: var(--mantine-color-default-border);
      }

      & .children {
        position: relative;
        width: calc(100% - $margin-left);
        margin-left: $margin-left;
        line-height: $box-height;
      }

      & .tree_item {
        margin-bottom: $margin-bottom;
        height: $box-height;
      }

      // quarter circle
      & .tree_item::before {
        @include tree_generic;

        background-color: transparent !important;
        width: calc($margin-left / 2);
        height: calc($margin-left / 2);
        top: calc(
          $box-height / 2 - $margin-left / 2 + $line-width / 2
        ); // make border middle of box
        left: calc($margin-left / -2);

        border-bottom-left-radius: 50%;
        border-width: $line-width;
        border-color: var(--mantine-color-default-border);
        border-style: none none solid solid;
      }

      // vertical lines
      & .children:before {
        @include tree_generic;

        height: calc(100% + $margin-bottom + $box-height / 2);
        width: $line-width;
        top: calc($margin-bottom * -1);
        left: calc($margin-left / -2);
      }

      & .children:last-child::before {
        height: calc(
          $margin-bottom +
            ($box-height / 2 - $margin-left / 2 + $line-width / 2)
        );
      }
    }
  }
}
