.item_products {
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--mantine-spacing-sm);

  & > .table {
    overflow: auto;
    scrollbar-width: thin;
  }

  & > .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: var(--mantine-spacing-sm);
  }
}
