.header {
  width: 100%;

  min-height: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: var(--mantine-spacing-xs);
  border-bottom: 2px solid var(--mantine-color-default-border);
}
