.sidebar {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--mantine-spacing-xs);
  gap: var(--mantine-spacing-xs);

  // stop resize when inside flexbox
  flex-grow: 0;
  flex-shrink: 0;

  & > .content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}
